# Python Basics and Techniques

## Number

### Check if the value of a number is an integer

In [1]:
print((27).is_integer())
print((12.0).is_integer())
print((3.14).is_integer())

True
True
False

## String

### Check if all characters of a string are uppercased or lowercased

In [2]:
print("ABC".isupper())
print("Abc".islower())
print("ABC123".isupper())

True
False
True

### Check if all characters of a string are digits

In [3]:
print("123".isdigit())
print("-123".isdigit())
print("abc123".isdigit())
print("".isdigit())

True
False
False
False

### Check if all characters of a string are alphabetic

In [4]:
print("abc".isalpha())
print("ab-".isalpha())
print("a.b".isalpha())
print("".isalpha())

True
False
False
False

### Check if all characters of a string are alpha-numeric

In [5]:
print("abc".isalnum())
print("Abc1".isalnum())
print("abc.1".isalnum())
print("".isalnum())

True
True
False
False

### Check if a string represents a number

In [6]:
def str_is_numerical(s):
    try:
        float(s)
        return True
    except ValueError:
        return False

print(str_is_numerical("12"))
print(str_is_numerical("7.3"))
print(str_is_numerical("-1.3"))
print(str_is_numerical("1.26e8"))
print(str_is_numerical("a"))
print(str_is_numerical("1.2.3"))

True
True
True
True
False
False

### Sort a string

In [7]:
my_str_1 = "efadbc"
my_str_2 = "".join(sorted(my_str_1))
my_str_2

'abcdef'

### Reverse a string

Method 1:

In [8]:
my_str_1 = "abcdef"
my_str_2 = my_str_1[::-1]
my_str_2

'fedcba'

Method 2:

In [9]:
my_str_1 = "abcdef"
my_str_2 = "".join(reversed(my_str_1))
my_str_2

'fedcba'

### Split a string

In [10]:
my_str = "Hello World"
my_list = my_str.split()  # default: split by any whitespace; not inplace
my_list

['Hello', 'World']

In [11]:
my_str = "AB,C"
my_list = my_str.split(",")  # split by ","; not inplace
my_list

['AB', 'C']

In [12]:
my_str = "A#B#C#D#E"
my_list = my_str.split("#", maxsplit=2)  # `maxsplit`: maximum number of splits; will be split into `maxsplit` + 1 parts; not inplace
my_list

['A', 'B', 'C#D#E']

### Convert all characters of a string to uppercase or lowercase

In [13]:
my_str_1 = "Abc"
my_str_2 = my_str_1.upper()  # not inplace
my_str_2

'ABC'

In [14]:
my_str_1 = "Abc"
my_str_2 = my_str_1.lower()  # not inplace
my_str_2

'abc'

### Convert a string to a list of its characters

In [15]:
my_str = "abcdef"
my_list = list(my_str)
my_list

['a', 'b', 'c', 'd', 'e', 'f']

## List

### Get the maximum or minimum value in a list

In [16]:
my_list = [7, 22, 9, 14, 3, 42]
max(my_list), min(my_list)

(42, 3)

### Get the number of times a value appears in a list

In [17]:
my_list = ["a", "b", "c", "c", "c", "d", "d", "e"]
my_list.count("c")

3

### Check if all elements in a list are equal

Method 1:

In [18]:
my_list = ["a", "a", "a"]
all_equal = all(item == my_list[0] for item in my_list)
all_equal

True

Method 2:

In [19]:
my_list = [1, 2, 3]
all_equal = my_list.count(my_list[0]) == len(my_list)
all_equal

False

### Sort a list

#### Inplace

In [20]:
my_list = [2, 5, 4, 1, 3]
my_list.sort()  # default: sort in ascending order (`reverse=False`)
my_list

[1, 2, 3, 4, 5]

In [21]:
my_list = [2, 5, 4, 1, 3]
my_list.sort(reverse=True)  # sort in descending order

In [22]:
my_list = [(1,4), (3,8), (5,2), (1,3), (9,7)]
my_list.sort(key=lambda item: item[0])  # sort by the first element of each item
my_list

[(1, 4), (1, 3), (3, 8), (5, 2), (9, 7)]

In [23]:
my_list = [(1,4), (3,8), (5,2), (1,3), (9,7)]
my_list.sort(key=lambda item: (item[0], item[1]))  # sort by the first element of each item, and sort by the second element of an item if there is a tie
my_list

[(1, 3), (1, 4), (3, 8), (5, 2), (9, 7)]

#### Not inplace

In [24]:
my_list_1 = [2, 5, 4, 1, 3]
my_list_2 = sorted(my_list_1)  # similar to `sort()`
my_list_2

[1, 2, 3, 4, 5]

In [25]:
my_list_1 = [2, 5, 4, 1, 3]
my_list_2 = sorted(my_list_1, reverse=True)  # similar to `sort()`
my_list_2

[5, 4, 3, 2, 1]

In [26]:
my_list_1 = [(1,4), (3,8), (5,2), (1,3), (9,7)]
my_list_2 = sorted(my_list_1, key=lambda item: item[0])  # similar to `sort()`
my_list_2

[(1, 4), (1, 3), (3, 8), (5, 2), (9, 7)]

In [27]:
my_list_1 = [(1,4), (3,8), (5,2), (1,3), (9,7)]
my_list_2 = sorted(my_list_1, key=lambda item: (item[0], item[1]))  # similar to `sort()`
my_list_2

[(1, 3), (1, 4), (3, 8), (5, 2), (9, 7)]

### Reverse a list

#### Inplace

In [28]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

#### Not inplace

Method 1:

In [29]:
my_list_1 = [1, 2, 3, 4, 5]
my_list_2 = my_list_1[::-1]
my_list_2

[5, 4, 3, 2, 1]

Method 2:

In [30]:
my_list_1 = [1, 2, 3, 4, 5]
my_list_2 = list(reversed(my_list_1))
my_list_2

[5, 4, 3, 2, 1]

### Insert an item to a list

In [31]:
my_list = ["a", "b", "c", "e", "f"]
my_list.insert(3, "d")  # inserts item before index; inplace
my_list

['a', 'b', 'c', 'd', 'e', 'f']

### Remove items from a list

#### Remove one item by index

Method 1:

In [32]:
my_list = ["a", "b", "c", "d", "e"]
item = my_list.pop(2)  # removes and returns the item at index (default: last item); inplace
my_list, item

(['a', 'b', 'd', 'e'], 'c')

Method 2:

In [33]:
my_list = ["a", "b", "c", "d", "e"]
del my_list[2]  # inplace
my_list

['a', 'b', 'd', 'e']

#### Remove the first occurrence of value

In [34]:
my_list = ["a", "b", "c", "d", "e"]
my_list.remove("d")  # inplace
my_list

['a', 'b', 'c', 'e']

#### Remove multiple items by indices

In [35]:
my_list = ["a", "b", "c", "d", "e"]
del my_list[1:3]  # inplace
my_list

['a', 'd', 'e']

### Apply a function to all items of a list

Method 1:

In [36]:
my_list_1 = ["24", "7", "9", "11"]
my_list_2 = [int(x) for x in my_list_1]
my_list_2

[24, 7, 9, 11]

Method 2:

In [37]:
my_list_1 = ["24", "7", "9", "11"]
my_list_2 = list(map(int, my_list_1))
my_list_2

[24, 7, 9, 11]

### Combine two lists (of same length) into a dictionary

In [38]:
my_list_1 = [1, 2, 3, 4, 5]
my_list_2 = ["a", "b", "c", "d", "e"]

Method 1:

In [39]:
my_dict = dict(zip(my_list_1, my_list_2))
my_dict

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

Method 2:

In [40]:
my_dict = {my_list_1[i]: my_list_2[i] for i in range(len(my_list_1))}
my_dict

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

Method 3:

In [41]:
my_dict = dict(map(lambda a, b: (a, b), my_list_1, my_list_2))
my_dict

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

## Sequence (includes string, list, tuple, range, etc.)

### Reverse a sequence

In [42]:
my_str_1 = "abcdef"
my_str_2 = "".join(reversed(my_str_1))
my_str_2

'fedcba'

In [43]:
my_list_1 = [1, 2, 3, 4, 5]
my_list_2 = list(reversed(my_list_1))
my_list_2

[5, 4, 3, 2, 1]

In [44]:
my_tuple_1 = (1, 2, 3, 4, 5)
my_tuple_2 = tuple(reversed(my_tuple_1))
my_tuple_2

(5, 4, 3, 2, 1)

In [45]:
my_range = range(3)
for i in reversed(my_range):
	print(i)

2
1
0

## Dictionary

### Sort a dictionary by its keys

In [46]:
my_dict_1 = {2: "apple", 1: "orange", 4: "banana", 3: "lemon"}
my_dict_2 = dict(sorted(my_dict_1.items()))
my_dict_2

{1: 'orange', 2: 'apple', 3: 'lemon', 4: 'banana'}

### Sort a dictionary by its keys applied with a function

In [47]:
my_dict_1 = {"2": "apple", "1": "orange", "4": "banana", "3": "lemon"}
my_dict_2 = dict(sorted(my_dict_1.items(), key=lambda item: int(item[0])))
my_dict_2

{'1': 'orange', '2': 'apple', '3': 'lemon', '4': 'banana'}

### Sort a dictionary by its values

In [48]:
my_dict_1 = {"apple": 2, "orange": 1, "banana": 4, "lemon": 3}
my_dict_2 = dict(sorted(my_dict_1.items(), key=lambda item: item[1]))
my_dict_2

{'orange': 1, 'apple': 2, 'lemon': 3, 'banana': 4}

### Sort a dictionary by its values applied with a function

In [49]:
my_dict_1 = {"apple": "2", "orange": "1", "banana": "4", "lemon": "3"}
my_dict_2 = dict(sorted(my_dict_1.items(), key=lambda item: int(item[1])))
my_dict_2

{'orange': '1', 'apple': '2', 'lemon': '3', 'banana': '4'}

### Reverse a dictionary

In [50]:
my_dict_1 = {"a": 1, "b": 2, "c": 3}
my_dict_2 = dict(reversed(list(my_dict_1.items())))
my_dict_2

{'c': 3, 'b': 2, 'a': 1}

### Invert the keys and values of a dictionary

In [51]:
my_dict_1 = {"a": 1, "b": 2, "c": 3}
my_dict_2 = {val: key for key, val in my_dict_1.items()}
my_dict_2

{1: 'a', 2: 'b', 3: 'c'}

### Remove items from a dictionary

#### Remove one item by key

In [52]:
my_dict = {"a": 1, "b": 2, "c": 3}
del my_dict["b"]  # inplace
my_dict

{'a': 1, 'c': 3}

#### Remove one item by key and return its value

In [53]:
my_dict = {"a": 1, "b": 2, "c": 3}
item = my_dict.pop("b")  # returns the value; inplace
my_dict, item

({'a': 1, 'c': 3}, 2)

#### Remove all items

In [54]:
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict.clear()  # inplace
my_dict

{}

### Merge two dictionaries

In [55]:
my_dict_1 = {"a": 1, "b": 2, "c": 3}
my_dict_2 = {"b": 3, "c": 4, "d": 5}

my_dict_3 = my_dict_1 | my_dict_2  # uses the value from `my_dict_2` if a key exists in both
my_dict_3

{'a': 1, 'b': 3, 'c': 4, 'd': 5}